* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./office-supplies-lie-pink-background-study-school-rainbow-color_292052-300.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 85vw;
  max-width: 700px;
  min-height: 50vh;
  border-radius: 50px;
  background-color: #f8f7de;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition: 0.5s;
}

header {
  font-size: 2rem;
  color: black;
  text-align: center;
  padding: 1rem;
}

.todo-add {
  width: 90%;
  display: flex;
  margin-top: 1rem;
  font-size: 0.5rem;
  color: #b2a4ff;
}
#todo-input {
  width: 80%;
  margin-right: 10px;
  border: none;
  outline: none;
  padding: 0.5rem;
  transition: 0.5s;
  background-color: #f8f7de;
  color: black;
  font-size: 2rem;
}

#todo-button {
  width: 20%;
  padding: 0.7rem;
  background-color: #b2a4ff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  transition: 0.5s;
}
#todo-input:hover {
  transform: scale(1.05);
}

#todo-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.todos {
  width: 90%;
  margin-top: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.todos ul {
  list-style: none;
}

ul li {
  background-color: #eee;
  color: rgb(41, 41, 41);
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

li i {
  transition: 0.4s;
}

ul li:hover {
  transform: translate(3px, 2px);
}

li i {
  padding: 1rem;
  color: #d57e7e;
  transform: scale(1.3);
  cursor: pointer;
}

li i:hover {
  color: #ef4b4b;
  font-size: 2rem;
}

li p {
  width: 100%;
  padding: 0.4rem;
}

li.checked .fa-check {
  color: #00e676;
}
li.checked {
  background-color: #c4dfaa;
}

li.checked p {
  color: rgb(41, 41, 41);
  font-weight: 800;
}

@media screen and (max-width: 576px) {
  li p {
    font-size: 0.8rem;
  }
}